footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px; //하위요소들이 서로 떨어짐
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; //하위요소들이 서로 떨어짐
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}

@keyframes icons-둥-둥 {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.애니메이션 {
  animation: 1s icons-둥-둥 infinite;
}
